.hero {
  min-height: 95vh;
  color: black;
  background-image: url("img/train1.png"); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-2 {
  width: 100%;
  backdrop-filter: brightness(0.5);
  min-height: 95vh;
  display: flex;
  align-items: center;
  z-index: 10;
}

.hero .text-center {
  color: #fff;
}

.hero .display-4 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
}

.text-warning {
  color: #ffc107 !important;
}

/* Icon Styling */
.icon-container i {
  font-size: 2rem;
  color: #ffffff;
  background-color: #1f5673;
  padding: 15px;
  border-radius: 50%;
}

.icon-container p {
  background-color: #1f5673;
  color: #ffffff;
  border-radius: 20px;
  font-size: 0.2rem;
  padding: 2px 10px;
}
.hero .hero-2 .container-icon-1 {
  width: 50%;
}

.card {
  width: 85%;
  border-radius: 10px;
  /* height: 7vh; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  /* height: 45%; */
  object-fit: cover;
  /* width: 100%; */
  height: 30vh;
}
.card-title {
  font-weight: bold;
  /* text-align: center;   */
}
.btn-order {
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
.container-card2-index {
  background-color: #1f5673;
}

/* LOGIN */
.container-login {
  background-color: #377595;
  color: azure;
  margin: auto;
}
.form-check-input:checked {
  background-color: black;
}

.form-control:focus,
.form-check-label:focus,
.form-check-input:focus {
  outline-color: transparent;
  box-shadow: none;
  border: 1px solid #1f5673;
}
.btn-login:hover {
  outline: 1px solid black;
}
/* penutup LOGIN */

/* Responsive untuk Mobile */
@media (max-width: 576px) {
  /* .hero {
    padding: 1rem;
  } */
  .img-home-content3 {
    width: 100%;
  }

  .container-card1-index img {
    width: 40%;
  }
  .hero .display-4 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .icon-container i {
    font-size: 1.5rem;
    padding: 10px;
  }

  .hero .hero-2 .container-icon-1 {
    width: 75%;
  }
  .container-icon-1 .icon-container i p {
    padding: 2px 50px 2px 50px;
    /* padding: 100px; */
  }

  .container > h2 {
    font-size: 1.5rem;
  }

  .container p {
    font-size: 0.9rem;
  }
  /* card kota */
  .card {
    width: fit-content;
  }
  /* .container-card2-index {
    display: flex;
    flex-direction: column;
  } */

  /* card kota */
}

/* Responsive untuk Tablet */
@media (min-width: 576px) and (max-width: 768px) {
  .icon-container i {
    font-size: 1.5rem;
    padding: 10px;
  }
  .hero .hero-2 .container-icon-1 {
    width: 75%;
  }
  .container-icon-1 .icon-container i p {
    padding: 2px 50px 2px 50px;
    /* padding: 100px; */
  }

  .hero .display-4 {
    font-size: 2rem;
  }
  .img-home-content3 {
    width: 100%;
  }
  .hero p {
    font-size: 1.1rem;
  }

  .icon-container i {
    font-size: 1.8rem;
  }

  .icon-container p {
    font-size: 0.85rem;
  }
  .container-icon-1 {
    width: 100%;
  }
  .container > h2 {
    font-size: 1.7rem;
  }
  .card {
    width: fit-content;
  }
}

/* Responsive untuk Layar Kecil (Desktop Kecil) */
@media (min-width: 768px) and (max-width: 992px) {
  .icon-container i {
    font-size: 1.5rem;
    padding: 10px;
  }
  .hero .hero-2 .container-icon-1 {
    width: 75%;
  }
  .container-icon-1 .icon-container i p {
    padding: 2px 50px 2px 50px;
    /* padding: 100px; */
  }
  .hero .display-4 {
    font-size: 2.3rem;
  }
  .img-home-content3 {
    width: 100%;
  }
  .container-icon-1 {
    width: 100%;
  }
  .hero p {
    font-size: 1rem;
  }

  .icon-container i {
    font-size: 1.9rem;
  }

  .container > h2 {
    font-size: 1.8rem;
  }

  .container-card-kota {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* justify-content: center;
     */
    margin-left: auto;
    /* background-color: #1f5673; */
  }
}

/* Responsive untuk Layar Lebih Besar (Desktop) */
@media (min-width: 992px) {
  .hero {
    min-height: 80vh;
  }
  .img-home-content3 {
    width: 100%;
  }
  .hero .display-4 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
